<h1 style="text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{titulo}}</h1>

<form>
  <label for="nombre">Usuario: </label>
  <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nombre"><br />
  <label for="password">Password: </label>
  <input type="text" placeholder="Password" name="password" [(ngModel)]="password"><br />

  <button type="submit" (click)="registrarUsuario()">Registrar</button>
</form><br/>

<p *ngIf="registrado else sinRegistrar">{{mensaje}}</p>
<ng-template #sinRegistrar>
  <p>Nadie registrado aún</p>
</ng-template><br>
<br>

<li *ngFor="let entrada of entradas; let i=index"> Entrada {{i + 1}} = {{entrada.titulo}}. </li>
